/*===========
Main Style Sheet
===========*/
@import "_normalize.scss";


$main:        #0066ba ;
$secondary:   #f55b5b;
$third:       #97c5ed;

body{
	background: #white;
	font-size: 16px;
	line-height: 1.4em;
}
footer{
	color: $third;
	padding: 5px 0;
	background: $main;
  position: absolute;
  bottom: 0;
  width: 100%;
	a{
	 color: $third;
	 text-decoration: none;
	}
}
.container{
	margin: 0 auto;
	width: 1200px;
}

button{
  border-radius: 3px;
  color: white;
  background: $secondary;
  padding: 5px 30px;
  box-shadow: none;
  display: block;
  text-transform: uppercase;
  transition: all .4s;
  border: 3px solid $secondary;
  margin: 10px auto;
  &:hover{
    padding: 5px 40px;
    background: darken($secondary, 10%);
    color: white;
  }
}
fieldset{
    margin: 0px;
    padding: 0px;
    border: none;
    text-align: center;
    div{
      display: inline-block;
      width: 32%;
      box-sizing: content-box;
    }
    label{
      display: block;
    }
}
#rangeLabel{
  display: inline-block;
  background: #AAA;
  border-radius: 3px;
  color: white;
  padding: 10px;
  text-align: center;
  height: 20px;
  width: 20px;
}
#Header{
  //text-align: center;
  padding: 30px 0;
  h1{
    font-size: 2em;
    text-transform: uppercase;
    color: $main;
    margin-bottom: 20px;
    font-weight: 100;
    font-family: 'Open Sans', sans-serif;
  }
  span{
    text-transform: uppercase;
    color: $secondary;
    font-weight: 600;
    font-size: 3.2em;
    font-family: 'Arvo', serif;
  }
}
#userSubmit{
  //margin: 0 auto;
  max-width: 500px;
  background: white;
  padding: 10px;
  border: 2px solid #EAEAEA;
  border-radius: 3px;
}
#content{
  //margin: 30px auto;
  max-width: 500px;
  background: white;
  min-height: 30px;
  padding: 10px;
  border: 2px solid #EAEAEA;
  border-radius: 3px;
}
/*===========
Range Updater
=============*/
input[type=range] {
  -webkit-appearance: none;
  margin: 18px 0;
  width: 80%;
  padding-right: 5%;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #3071a9;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
/*Thumb*/
input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 25px;
  width: 25px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -10px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #367ebd;
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #3071a9;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
/*Thumb*/
input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #2a6495;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
  background: #3071a9;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
/*Thumb*/
input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: #3071a9;
}
input[type=range]:focus::-ms-fill-upper {
  background: #367ebd;
}
