/*===========
Main Style Sheet
===========*/
@import "_normalize.scss";


$main:        #046380;
$secondary:   #EFECCA;
$third:       #002F2F;

body{
	background: #FAFAFA;
	font-size: 16px;
	line-height: 1.4em;
}
footer{
	color: #FAFAFA;
	padding: 5px 0;
	background: $main;
	a{
	 color: white;
	 text-decoration: none;
	}
}
.container{
	margin: 0 auto;
	width: 1200px;
}

h1{
  font-size: 3em;
  color: $main;
}
button{
  border-radius: 3px;
  color: $main;
  background: none;
  padding: 5px 30px;
  box-shadow: none;
  display: block;
  border: 3px solid $main;
  margin: 10px 0;
}